body *{
  font-family: 'Gudea', sans-serif;
}

#ip-count{
  font-size: 20px;
  background-color: #f0f0f0;
  margin: 0;
}

#endpoints-label{
}

#endpoints-num{
}


#center{
    width: 100px;
}

#d3_plot{
    width: 500px;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
