body *{
  font-family: 'Gudea', sans-serif;
}

#ip-count{
  font-size: 20px;
  background-color: #f2e4bd;
  margin: 0;
}

#endpoints-label{
    width: 300px;
    padding: 0;
}

#endpoints-num{
}


#center{
    width: 150px;
    padding-top: 25px;
    height: 20px;
}

.checkbox{
    vertical-align: center;
    height: 20px;
}

#d3_plot{
    width: 600px;
    min-width: 600px;
    max-width: 600px;

    height: 400px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.flex-container{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
}

#map{
    padding: 0;
}

#controls{
    background-color: #FAF4DE;
}

#render-opts{
    padding: 0;
}

.item{
    flex-grow: 1;
    flex-shrink: 1;
}

#pad-btns{
    align-items: left;
}
