@import "bootstrap";

$buttoncolor: #C0C3A0;
$trim: #AD9CA4;

body *{
  font-family: 'Gudea', sans-serif;
}

#ip-count{
  font-size: 20px;
  background-color: #f2e4bd;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid $trim;
}

#endpoints-label{
}

#endpoints-num{
}


#center{
    padding-left: 15px;
}

#center-label{
    padding-right: 0px;
}

.checkbox{
    vertical-align: center;
    height: 24px;
}

input[type=checkbox] { width: auto }

#d3_plot{
    width: 600px;
    min-width: 600px;
    max-width: 600px;
    height: 400px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.flex-container{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
}

#map{
    padding: 0;
}

#controls{
    padding-top: 5px;
    background-color: #FAF4DE;
}

#render-opts{
    padding: 0;
}

.item{
    flex-grow: 1;
    flex-shrink: 1;
}

#pad-btns{
    align-items: left;
}

.btn-primary.controls{
    @include button-variant($buttoncolor, $trim, lighten($buttoncolor,5%));
    margin-top: 5px;
}

.center{
    padding-left: 15px;
}
